body{
  margin: 0;
  background-color: #9edef9;
}
.color-celeste{
  background-color: #9edef9;
}

/*Css aplicado al Navbar*/
.fondo-nav{
  background-color: #18809a;
}

.color-celeste-claro{
  background-color: #17a2b8 !important;
}

/*Css Aplicado al Modal Login*/
.fondo-titulo{
  background-color: #125d70;
}

.color-boton-modal{
  background-color: #1fa3c4 !important;
}

/*Css aplicado al componente CardUsuario*/
.imgRedonda {
  width:200px;
  height:200px;
  margin: auto;
  border-radius:150px;
  border:2px solid #17a2b8;
}

/*Css aplicado a cada caja de comentario*/
.cajacomentario{
  width: 900px;
}
@media (max-width: 768px) {
  .cajacomentario {
    width: 800px;
  }
}
@media (max-width: 425px) {
  .cajacomentario {
    width: 600px;
  }
}

.imgRedondaIcono{
  width:50px;
  height:50px;
  margin: auto;
  border-radius:150px;
}

.color-fondo{
  background-color: #f5f5f5;
}

.color-texto-celeste{
  color: #18809a;
}

/*css aplicado a componente Cajas*/
@media (max-width: 768px) {
  .cajaMobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  }
}
@media (max-width: 425px) {
  .cajaMobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  }
}

.scroll{
  overflow: scroll;
  height: 900px
}

/*Css aplicado al Formulario*/
.formulario{
  width: 600px;
}
@media (max-width: 768px) {
  .formulario{
    width: 400px;
  }
}
@media (max-width: 425px) {
  .formulario{
    width: 300px;
  }
}

/*css aplicado al ModalMood modalFeed*/
.modalResponsive{
  width: 720px;
  height: 100px;
}
@media (max-width: 768px) {
  .modalResponsive{
    width: 420px;
    height: 100px;
  }
}

@media (max-width: 425px) {
  .modalResponsive{
    width: 320px;
    height: 100px;
  }
}

.modalOptionResponsive{
  width: 720px;
}
@media (max-width: 768px) {
  .modalOptionResponsive{
    width: 420px;
  }
}

@media (max-width: 425px) {
  .modalOptionResponsive{
    width: 320px;
  }
}
