body{
  margin: 0;
  background-color: #9edef9;
}
.color-celeste{
  background-color: #9edef9;
}


/*Css aplicado al Navbar*/
.fondo-nav{
  background-color: #18809a;
}

.color-celeste-claro{
  background-color: #17a2b8 !important;
}

/*Css Aplicado al Modal Login*/
.fondo-titulo{
  background-color: #125d70;
}

.color-boton-modal{
  background-color: #1fa3c4 !important;
}

/*Css aplicado al componente CardUsuario*/
.imgRedonda {
  width:200px;
  height:200px;
  margin: auto;
  border-radius:150px;
  border:10px solid #666;
}

/*Css aplicado a cada caja de comentario*/
.imgRedondaIcono{
  width:50px;
  height:50px;
  margin: auto;
  border-radius:150px;
}

.color-fondo{
  background-color: #f5f5f5;
}